.main {
  min-height: 100vh;
  padding: 4rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.titleBox {
  padding-left: 15vw;
  padding-bottom: 30vw;
  border: solid 1px red;
}

.title {
  font-size: 5vw;
}

.divisoria {
  color: red;
}

.socialMediaBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 15vw;
  min-width: 40vw;
  border: solid 1px blue;
}

.box{
  padding: 4rem;
}

.icon {
  max-width: none;
  filter: invert(100%);
  min-width: 30px;
  max-width: 3vw;
  max-height: 3vw;
  transition: .5s;
}

.icon:hover {
  max-width: none;
  filter: invert(100%);
  max-width: 4vw;
  max-height: 4vw;
  transition: .5s;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
