.container{
  background: black;
}

/* Seção inicial */

.main {
  min-height: 100vh;
  padding: 4rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: -webkit-linear-gradient(right,black,rgb(4, 4, 22));
}

.main h3{
  margin-top: 10vw;
  text-align: right;
}

.titleBox {
  padding: 0vw 5vw 10vw;
  justify-self: flex-start;
}

.title {
  font-size: 5vw;
  text-align: right;
  background: -webkit-linear-gradient(right,rgb(13, 54, 141), #1b9ce7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu {
  padding: 0;
  min-width: 35vw;
  min-height: 20vw;
  margin-left: 10vw;
  margin-bottom: 5vw;
  align-self: flex-end;

  display:flex;
  flex-direction: column;
  justify-content: center;
}

.menuItem{
  margin: 1vw;
  font-size: 2vw;
  border-bottom: solid 1px #d9d9d9;
  text-align: end;
  transition: 1s;
}

.divisoria {
  color: red;
}

.socialMediaBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 40vw;

  padding: 0vw 10vw;
}

.icon {
  max-width: none;
  filter: invert(60%);
  min-width: 20px;
  max-width: 2.5vw;
  max-height: 2.5vw;
  transition: .5s;
}

.icon:hover {
  max-width: none;
  filter: invert(100%);
  max-width: 2.5vw;
  max-height: 2.5vw;
  transition: .5s;
}

/* Seção sobre */
/*   border:rgb(94, 9, 105) 1px solid; */
.main2 {
  min-height: 100vh;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  background: -webkit-linear-gradient(right,black,rgb(4, 4, 22));
}

.title2{
  text-align: end;
  font-size: 5vw;
  background: -webkit-linear-gradient(left,rgb(13, 54, 141), #1b9ce7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titleBox2{
  color: #d9d9d9;
  text-align: right;
  align-self: flex-end;
  padding-right: 15vw;
  margin-top: -2vw;
}
.textBox {
  align-self: center;
  max-width: 80vw;
  text-align: justify;
  display: flex;
  flex-direction: column;
  padding-top: 3vw;
}
.textBox p {
  font-style: italic;
  text-align: right;
}

.textBox2 {
  align-self: center;
  max-width: 80vw;
  padding-top: 2vh;
  text-align: justify;
  display: flex;
  justify-content: space-around;
}

.textBox2 div{
  padding: 2vw;
}
.textBox2 h2 {
  text-align: center;
}

/* Seção fale conosco */

.main3 {
  min-height: 100vh;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  background: -webkit-linear-gradient(right,black,rgb(4, 4, 22));
}

.title3 {
  font-size: 5vw;
  text-align: left;
  margin-left: 10vw;
  background: -webkit-linear-gradient(right,rgb(13, 54, 141), #1b9ce7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.formBox{
  display:flex;
  flex-direction: column;
  justify-content: left;
}

.box {
  display: flex;
}

.p1 {
  padding-top: 10vw;
  padding-left: 5vw;
}

.button {
  max-width: 10vw;
  margin-left: 30vw;
  margin-top: 1vw;
}

.formulario {
  padding-left: 10vw;
}

.input{
  background-color: white;
  min-width: 30vw;
  color: black;
  border: none;
}
.input2{
  min-height: 20vh;
  min-width: 30vw;
  background-color: white;
  color: black;
  border: none;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #d9d9d9;
  justify-content: center;
  align-items: center;
  background-color: black;
}
